@{
    ViewData ["Title"] = "TIPO DE FICHO";
}

<style type="text/css">
#grande{ /*border:1px solid #FE2E2E;*/
         width:100%;
         height:auto;
                
	}
#uno,#dos,#tres,#cuatro {
        border: 1px ;
        width: 400px;
        height: 300px;
        display: inline-block;
        position: relative;
        background-color:#0597F2;
    } 
a.danger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color: #FA7C38;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        height: 70px;
        width: 190px;
        }
    a.success {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color:#FFC847;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        height: 70px;
        width: 190px;
        }
        a.warning {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color:#4E0FA6;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        height: 70px;
        width: 190px;
        }
        a.primary {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color:#F63C3C;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        height: 70px;
        width: 190px;
        }

    h2{
        background-color:ghostwhite;
        color: black;
        padding: 10px 20px;
    }
	}       
</style>

<center>
    
    <h2>Seleccione el tipo de ficho</h2>

    <div id="grande">
        <div id="uno"><a asp-action="Generar" asp-controller="User" asp-route-tipo="3" class="danger"><b>Pagos</b></a></div>
        <div id="dos"><a asp-action="Generar" asp-controller="User" asp-route-tipo="4" class="success"><b>Citas</b></a></div>
        <br>
        <div id="tres"><a asp-action="Generar" asp-controller="User" asp-route-tipo="1" class="warning"><b>Autorización de medicamentos</b></a></div>
        <div id="cuatro"><a asp-action="Generar" asp-controller="User" asp-route-tipo="2" class="primary"><b>Información general</b></a></div>
    </div>

</center>

 
