@model Gestor;
@{
    ViewData["Title"] = "Login Gestor";
}

@{
    if(TempData["MensajeInicioSesion"] != null)
    {
        <div class="alert alert-warning bordes" id="MensajeInicioSesion">@TempData["MensajeInicioSesion"]</div>
    }
}


<script>
    var MensajeTemporal = () => {
        document.getElementById("MensajeInicioSesion").style.display = "none";
    }

    setTimeout(MensajeTemporal, 5000)
</script>

<style>
 
  
  .alert {
    margin-top: 20px;
    border-radius: 10px;
  }  

  .form-container {
  width: 350px;
  height: 370px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 100px;  

}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


</style>




 <div class="form-container">
      <p class="title">Iniciar Sesion</p>
      <form class="form" asp-controller="Gestor" asp-action="InicioSesion">
        <input asp-for="Correo" type="email" class="input" placeholder="Email">
        <input asp-for="Contrase침a" type="password" class="input" placeholder="Password">

        </p>
        <button class="form-btn" type="submit">Entrar </button>
      </form>
      <p class="sign-up-label">
 
      </p>
</div>





@* <div class="d-flex justify-content-center">
    <div class="col-md-5">
        
        <form asp-controller="Gestor" asp-action="InicioSesion">
            <h1 class="text-center mb-4">Iniciar Sesi칩n</h1>
            <div class="mb-3">
                <label style="font-weight: bold;" class="form-label">Correo</label>
                <input asp-for="Correo" style="height: 50px; font-size: 20px" type="email" class="form-control" placeholder="example@example.ex">
            </div>
            <div class="mb-3">
                <label style="font-weight: bold;" class="form-label">Contrase침a</label>
                <input asp-for="Contrase침a" style="height: 50px; font-size: 20px" type="password" class="form-control" placeholder="123456789">
            </div>
            <div class="text-center">
                <button style="font-weight: bold; color: white;" type="submit" class="w-25 btn btn-info">Ingresar</button>
            </div>
        </form>

    </div>
</div> *@