@model Paciente;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-image: url(https://i.ibb.co/fvNRSwq/people-and-technology.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn-large {
        padding: 15px;
    }

    .grid-container {
        width: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 15px 0px;
    }

    .item {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 20px;
    }

    .item-ten {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .atencionpri,
    .doc {
        border-radius: 30px;
        font-size: 16px;
        width: 300px;
        height: 40px;
        background-color: #32C2B9;
        color: white;
        text-shadow: 0px 1px 1px black;
    }

    .input {
        border-radius: 30px;
        font-size: 16px;
        width: 300px;
        height: 40px;
        color: black;
    }

    .btnDocumento{
        color: white;
        background-image: url(https://i.etsystatic.com/7388389/r/il/354b3d/2434422114/il_fullxfull.2434422114_2qqm.jpg);
        background-size: cover;
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
        height: 60px;
        text-shadow: 0px 1px 1px black;
        box-shadow: 0 6px 1px black;
    }
    
    .btnDocumento:active{
        transform: scale(0.8);
    }

    .buttonIngresar{
        box-shadow: 10px 7px 1px black;
        border-radius: 50px;
        font-size: 16px;
        width: 190px;
        height: 50px;
        color: black;
    }

    .buttonIngresar:active{
        transform: translateX(10px);
        box-shadow: 0 0 1px black;
    }
</style>

<center>
    <h2>Bienvenido, Ingrese sus datos!</h2>
    <br>
    <form asp-controller="Home" asp-action="Index">

        <select name="tipodoc" class="doc" placeholder="Tipo de documento">
            <option disabled selected ><b>Tipo de documento</b></option>
            <option value="1">DNI</option>
            <option value="2">Pasaporte</option>
            <option value="5">Tarjeta de Identidad</option>
            <option value="3">Licencia</option>
            <option value="4">Cedula</option>
        </select>
        <br>
        <br>
        <select name="atencion" class="atencionpri">
            <option disabled selected><b>Atención prioritaría</b></option>
            <option value="true">Embarazo</option>
            <option value="true">Tercera edad</option>
            <option value="true">Discapacidad</option>
            <option value="false">Ninguna</option>
        </select>
        <br>
        <br>
        <input readonly asp-for="Documento"  type="text" class="input" id="input">
        <div class="grid-container">
            <input type="button" class="btnDocumento btn" value="1" name="" onclick="llenar(1)">
            <input type="button" class="btnDocumento btn" value="2" name="" onclick="llenar(2)">
            <input type="button" class="btnDocumento btn" value="3" name="" onclick="llenar(3)">
            <input type="button" class="btnDocumento btn" value="4" name="" onclick="llenar(4)">
            <input type="button" class="btnDocumento btn" value="5" name="" onclick="llenar(5)">
            <input type="button" class="btnDocumento btn" value="6" name="" onclick="llenar(6)">
            <input type="button" class="btnDocumento btn" value="7" name="" onclick="llenar(7)">
            <input type="button" class="btnDocumento btn" value="8" name="" onclick="llenar(8)">
            <input type="button" class="btnDocumento btn" value="9" name="" onclick="llenar(9)">
            <input type="button" class="btnDocumento btn" value="Limpiar" name="" onclick="Limpiar()">
            <input type="button" class="btnDocumento btn" value="0" name="" onclick="llenar(0)">
            <input type="button" class="btnDocumento btn" value="Borrar" name="" onclick="remover()">

        </div>

        <button class="buttonIngresar" type="submit">Ingresar</button>
    </form>
</center>