<div class="alerta">
    <h1>Documento incorrecto. Por favor intente de nuevo</h1>
</div>

<br> <br> <br> <br> 

<div class="d-flex justify-content-center">
    <a asp-controller="Home" asp-action="Index" ><h1 class="textoBtn">Intentar de nuevo</h1></a>
</div>

<br>

<div class="d-flex justify-content-center btn">
    <a asp-controller="Home" asp-action="Generar" asp-route-UsuarioNoexistente="True" class="info"><h1 class="titleInfo">Informacion General</h1></a>
</div>
<style>

    .textoBtn {
        font-size: 28px;
        padding: 1px;
    }

    .info {
        height: 104px;
        background-color: #5E17EB;
    }

    .titleInfo {
        font-size: 37px;
        padding: 8px;
        color: white;
    }


    button {
        border-radius: 20px;
        background-color: #0CC0DF;
        width: 270px;
        height: 70px;
        margin: 0 auto;
        border: none;
        color: white;
    }

    .alerta {
        width: 680px;
        height: 150px;
        background-color: #FFBD59;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 20px;
    }

    h1 {
        text-align: center;
        padding: 26px;
    }
</style> 